body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.center {
  width: 1200px;
  margin: 0 auto;
  outline: 1px solid red;
}

a {
  text-decoration: none;
}

.main-logo {
  width: 140px;
  height: 71px;
  position: absolute;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 75px;
}

.site-navigation li {
    width: 20%;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #a3c7de;
}

.site-navigation a:active {
  color: #f5f5f5;
}

.splash{
  background-image: url("../img/bg.jpg");
  background-color: #88b7d5;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*.mask {
  height: 58px;
  display: flex;
  flex-direction: column-reverse;   Не смог поместить маску
  align-items: flex-start;
}*/

.splash img {
  display: block;
}

.caption {
  font-size: 21px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.caption p {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: #333333;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.feature-item {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature {
  margin-bottom: 60px;
}

.feature-item-description {
  text-align: center;
  background-color: #eeeeee;
  padding-top: 45px;
  padding-bottom: 50px;
  padding-left: 59px;
  padding-right: 61px;
}

.feature-item-logo {
  background-size: 850px;
  width: 850px;
  background-image: url("../img/farm.jpg");
}

 .canyon-image {
  background-size: 850px;
  width: 1100px;
  background-image: url("../img/canyon.jpg");
}

.city-features {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  color: #000000;
}

.city-feature {
  text-align: center;
  width: 240px;
  padding-left: 90px;
  padding-right: 73px;
  padding-top: 160px;
  padding-bottom: 80px;
}

.city-feature:nth-child(1) .city-feature-pic  {
  width: 75px;
  height: 72px;
  position: absolute;
  background-image: url(../img/house.svg);
  background-repeat: no-repeat;
}

.city-feature:nth-child(2) .city-feature-pic {
  width: 74px;
  height: 70px;
  position: absolute;
  background-image: url(../img/burger.svg);
  background-repeat: no-repeat;
}

.city-feature:nth-child(3) .city-feature-pic {
  width: 64px;
  height: 76px;
  position: absolute;
  background-image: url(../img/gift.svg);
  background-repeat: no-repeat;
}

.feature-item h3 {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.feature-item p, span {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #000000;
}

.special-color h3 {
  color: #ffffff;
}

.special-color span {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: #ffffff;
}

.special-color p {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: #ffffff;
}

.city-features h3 {
  font-size: 21px;
  line-height: 21px;
}

.city-features p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.special-color {
  background-color: #81b3d2;
}


.index-columns {
  display: flex;
  justify-content: center;
}

.appointment h2 {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.appointment p {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
}

.appointment-form {
  margin-bottom: 77px;
}

.appointment-headline {
  font-size: 21px;
  font-style: normal;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.appointment-headline a {
  background-color: #766357;
  color: #ffffff;
  display: inline-block;
  padding: 30px 140px;
}

.appointment-headline a:hover {
  background-color: #604e43;
}

.appointment-headline a:active {
  background-color: #503e33;
  color:rgba(255, 255, 255, 0.3);
}

.appointment-form {
  background-color: #ffffff;
  padding: 55px 54px;
}

.appointment-date {
  font-size: 14px;
  font-style: normal;
  line-height: 26px;
  text-align: left;
}

.arrival input {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  background-color: #f2f2f2;
  margin-left: 22px;
  margin-bottom: 28px;
  width: 347px;
  padding-left: 14px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.arrival input:hover {
  background-color: #ebebeb;
}

.arrival input:focus {
  background-color:#ffffff;
}

.departure input {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  background-color: #f2f2f2;
  width: 349px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 14px;
  margin-left: 16px;
  margin-bottom: 28px;
}

.departure input:hover {
  background-color: #ebebeb;
}

.departure input:focus {
  background-color:#ffffff;
}

.people-amount {
  display: flex;
  margin-bottom: 56px;
}


.people-amount input {
  font-weight: bold;
  width: 15px;
  height: 15px;
}

.adult label {
  margin-right: 39px;
}

.child label {
  margin-left: 54px;
  margin-right: 25px;
}

.calendar {
  background-image: url("../img/calendar.svg");
  position:absolute;
  margin: auto;
  transform: translateX(-50%);
  left: 63%;
  width: 22px;
  height: 22px;
}

.calendar:hover {
  background-image: url("../img/calendarhover.svg");
}

.calendar:active {
  background-image: url("../img/calendaractive.svg");
}

.counter {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
}

.button {
  font-weight: bold;
  font-size: 21px;
  color: #ffffff;
  padding: 21px 197px 21px 201px;
  text-align: center;
  background-color: #81b3d2;
  display: block;
}

.button:hover {
  background-color: #669ec0;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.hotels {
  margin-bottom: 31px;
}

.hotels ul {
  list-style: none;
}

.hotel-list ul {
  list-style: none;
}

.hotel-card {
  display: flex;
  margin: 0;
  padding: 0;
}

.hotel-image {
  margin-right: 31px;
  margin-top: 23px;
}

.block {
  display: inline-block;
  margin-right: 523px;
}

.hotel-card h3 {
  margin-bottom: 10px;
}

.hotel-name {
  color: #000000;
}

.hotel-name:hover {
  color: #a3c7de;
}

.hotel-name:active {
  color: #f5f5f5;
}

.hotel-type {
  margin-bottom: 9px;
}

.hotel-type b {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: #000000;
  display: inline-block;
  width: 109px;
  margin-right: 7px;
}

.hotel-rating b {
  font-size: 14px;
  font-weight: normal;
  background-color: #f2f2f2;
  padding: 9px 16px 10px 14px;
}

.hotel-star {
  display: flex;
  justify-content: flex-end;
  margin-top: 28px;
  margin-bottom: 37px;
}

.button-order {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  background-color: #81b3d2;
  padding: 9px 16px;
  margin-right: 9px;
}

.button-order:hover {
  background-color: #669ec0;
}

.button-order:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.booking-button {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  background-color: #766357;
  padding: 9px 18px;
}

.booking-button:hover {
  background-color: #604e43;
}

.booking-button:active {
  background-color: #503e33;
  color: #857871;
}

.main-footer {
  color: #000000;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.footer-contacts {
  width: 137px;
  height: 16px;
  font-size: 21px;
  font-style: normal;
  font-stretch: normal;
  line-height: 26px;
  text-align: center;
  margin: 0;
  padding-top: 51px;
  margin-left: 133px;
}

.social-button img {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.footer-social {
  list-style: none;
  margin: 0;
}

.footer-social ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.footer-social li {
  margin-right: 8px;
  padding: 16px;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd
}

.footer-copyright {
  display: flex;
  margin-right: 101px;
}

.footer-copyright b {
  width: 74px;
  height: 11px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 26px;
}

.footer-copyright img {
  width: 115px;
  height: 41px;
  object-fit: contain;
}

.footer-copyright img:hover {
  background-color: #81b3d2;
}

.footer-copyright img:active {
  background-color: #bdbbbc;
}
