body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
}

.main-header {
  margin-bottom: 61px;
}

.main-navigation {
  min-height: 71px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-logo {
  width: 140px;
  height: 71px;
  /*Нужно ли задавать ордер для центровки, либо другими инструментами отцентруем?*/
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  min-width: 1200px;
}

.site-navigation a {
  color: #000000;
}

.splash{
  background-image: url("../img/bg.jpg");
  background-color: #88b7d5;
}

.splash img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.caption {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.caption p {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: #333333;
}

.features-list {
  min-height: 260px;
  list-style: none;
}

.feature-item {
  text-align: center;
  width: 400px;
}
/*Не совсем понял как сделать сетку для этих блоков */
.city-features {
  list-style: none;
  min-height: 330px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.city-feature {
  text-align: center;
  width: 400px;
}

.feature-item h3 {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.feature-item p, span {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #000000;
}

.special-color h3 {
  color: #ffffff;
}

.special-color span {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: #ffffff;
}

.special-color p {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: #ffffff;
}

.city-features {
  color: #000000;
  background-color: #ffffff;
}

.city-features h3 {
  font-size: 21px;
  line-height: 21px;
}

.city-features p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.feature-item-description {
  background-color: #eeeeee;
}

.special-color {
  background-color: #81b3d2;
}

.appointment h2 {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.appointment p {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
}

.appointment-headline {
  font-size: 21px;
  font-style: normal;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  background-color: #766357;
}

.appointment-headline a {
  color: #ffffff;
}

.appointment-headline a:hover {
  background-color: #604e43;
}

.appointment-headline a:active {
  background-color: #503e33;
  color:rgba(255, 255, 255, 0.3);
}

.appointment-form {
  background-color: #ffffff;
}

.appointment-date {
  font-size: 14px;
  font-style: normal;
  line-height: 26px;
  text-align: left;
}

.arrival input {
  font-size: 14px;
  font-style: normal;
  color: #000000;
  background-color: #f2f2f2;
}

.arrival input:hover {
  background-color: #ebebeb;
}

.arrival input:focus {
  background-color:#ffffff;
}

.departure input {
  font-size: 14px;
  font-style: normal;
  color: #000000;
  background-color: #f2f2f2;
}

.departure input:hover {
  background-color: #ebebeb;
}

.departure input:focus {
  background-color:#ffffff;
}


.calendar button {
  background-image: url("../img/calendar.svg");
  width: 21px;
  height: 22px;
  background-color: #cacaca;
}

.calendar button:hover {
  background-image: url("../img/calendarhover.svg");
}

.calendar button:active {
  background-image: url("../img/calendaractive.svg");
}

.counter button {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
}

.button {
  font-size: 21px;
  color: #ffffff;
  text-align: center;
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
}

.button:hover {
  background-color: #669ec0;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.button-order {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  background-color: #81b3d2;
}

.button-order:hover {
  background-color: #669ec0;
}

.button-order:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.hotels {
  min-height: 453px;
  width: 1056px;
}

.hotels ul {
  list-style: none;
}

.hotel-order .button {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  background-color: #766357;
}

.hotel-order .button:hover {
  background-color: #604e43;
}

.hotel-order .button:active {
  background-color: #503e33;
  color: #857871;
}

.hotel-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.hotel-card {
  width: 1056px;
  min-height: 154px;
  display: flex;
  justify-content: space-between;
}

.hotel-card b {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: #000000;
}

.hotel-rating b {
  background-color: #f2f2f2;
}

.main-footer {
  color: #000000;
  background-color: #ffffff;
  min-height: 122px;
  margin-top: 79px;
  padding: 50px 0;
}

.main-footer .container {
  display: flex;
}

.footer-contacts {
  width: 137px;
  height: 16px;
  font-size: 21px;
  font-style: normal;
  font-stretch: normal;
  line-height: 26px;
  letter-spacing: normal;
  text-align: center;
  margin: 0;
  margin-right: 256px;
}

.social-button img {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.footer-social {
  width: 150px;
  list-style: none;
  margin: 0;
}

.footer-social ul {
  list-style: none;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd
}

.footer-copyright {
  margin: 0;
  width: 157px;
  margin-left: auto;
}

.footer-copyright b {
  width: 74px;
  height: 11px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 26px;
}

.footer-copyright img {
  width: 115px;
  height: 41px;
  object-fit: contain;
  background-color: #231f20;
}

.footer-copyright img:hover {
  background-color: #81b3d2;
}

.footer-copyright img:active {
  background-color: #bdbbbc;
}
